<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
		<h1>Hello,</h1>

		<p>Your login information is:</p>

		<p>Name: <%= @candidate_name %></p>
		<p>Temporary password: <%= @candidate_pass %></p>

		<p>Follow the below instructions in order to change your password:</p>

		<ul>
		<li>1.- Visit this link: http://localhost:3000/</li>
		<li>2.- Enter the site with your temprary password.
		<li>3.- Go to your profile and change it</li>
		<li>4.- Enjoy it!</li>
		</ul>
		
		<p>-- The 4thsource team</p>
  </body>
</html>