<!-- Content -->
#content
  %img(src="http://www.4thsource.com//public/images/subheader_services.jpg" alt="Sub Header" class="subheader")
  %ul#breadcrumbs
  %h4 Select a option Menu to edit.
  .divider

<!-- Sidebar -->
= render 'shared/admin_sidebar_signed'    
