html, body {
  height: 100%;
}

#logo {
  margin: 0;
  padding: 0;
  float: right;
  margin-top: 57px;
  padding-right: 31px;
}

h1 {
  margin: 10px;
  text-align: center;
}

#list {
  overflow:auto; 
  width: 460px; 
  background: gray; 
} 

#left {
  width:   10%;
  margin:  2px;
  padding: 2px;
  background: white;
  text-align: center;
}

#left a {
  color: #666666;
} 

#right { 
  width: 80%; 
  margin:2px; 
  padding: 2px; 
  background: white; 
} 

#left  { float:left;  }
#right { float:right; } 

dy {
	margin: 0;
	padding: 0;
}

body {
	font-family: Arial, Helvetica, Verdana, Sans-serif;
	font-size: 12px;
	color: #666666;
	background: #ffffff;
	text-align: center;
}

.hidden {
	display: none;
}

#page-container {
        min-height: 100%;
        padding: 10px;

	width: 760px;
	margin: auto;
	text-align: left;
}

/* Main Navigation */

#main-nav { height: 50px; }
#main-nav dl { margin: 0; padding: 0; }

/* IE5 Mac Hack \*/ 
#main-nav { padding-left: 11px; } 
/*/ 
#main-nav { padding-left: 11px; overflow: hidden; } 
/* End Hack */

#main-nav dt { float: left; }

#main-nav dt a {
	display: block;
	height: 0px !important;
	height /**/:50px; /* IE 5/Win hack */ 
	padding: 50px 0 0 0;
	overflow: hidden;
	background-repeat: no-repeat;
}

#main-nav dt a:hover {
	background-position: 0 -50px;
}

#main-nav dt#about,
#main-nav dt#about a { width: 71px; background-image: url(/images/about.gif); }

#main-nav dt#services,
#main-nav dt#services a { width: 84px; background-image: url(/images/services.gif); }

#main-nav dt#portfolio,
#main-nav dt#portfolio a { width: 95px; background-image: url(/images/portfolio.gif); }

#main-nav dt#contact,
#main-nav dt#contact a { width: 106px; background-image: url(/images/contact.gif); }

body.about dt#about,
body.about dt#about a,
body.about dt#about a:hover,
body.services dt#services,
body.services dt#services a,
body.services dt#services a:hover,
body.portfolio dt#portfolio,
body.portfolio dt#portfolio a,
body.portfolio dt#portfolio a:hover,
body.contact dt#contact,
body.contact dt#contact a,
body.contact dt#contact a:hover {
	background-position: 0 -100px;
}

#header {
	height: 150px;
	background: #db6d16
		    url(/images/about.jpg);
}

#sidebar-a {
        float: right;
	width: 280px;
}

#sidebar-infouser {
  padding: 10px;
  background: #FF9900;
  height: 50px;
}

#sidebar-infouser a {
  color: #666666;
}

#sidebar-a .padding {
	padding: 25px;
}

#content {
        padding-bottom: 66px;

	margin-right: 280px;
}

#content .padding {
	padding: 25px;
}

#content h2 {
	margin: 0;
	padding: 0;
	padding-bottom: 15px;
}

#content p {
	margin: 0;
	padding: 0;
	padding-bottom: 15px;
}

#footer {
        bottom: 0;
        width: 760px;
	clear: both;
	height: 66px;
	font-family: Tahoma, Arial, Helvetica, Sans-serif;
	font-size: 10px;
	color: #c9c9c9;
        border-top: 1px solid #efefef;
	padding: 13px 25px;
	line-height: 18px;
}

#footer #altnav {
	width: 350px;
	float: right;
	text-align: right;
	padding-top: 13px;
}

#footer #copyright {
	padding-top: 13px;
}

#footer a {
	color: #c9c9c9;
	text-decoration: none;
}

#footer a:hover {
	color: #db6d16;
}
