#wrapper {
  margin: 0 auto;
  width: 600px;
}

#maincontent {
  border-right: solid 200px #DFDFDF;
  position: absolute;
  width: 400px;
}

#sidebar {
  background: #DFDFDF
  margin-left: 400px;
  position: absolute;
  width: 200px;
}
